<%- include('../layouts/dashboard_header') %>
<script src="/js/utilidades.js"></script>
<script>
    $(document).ready(function () {


    });

</script>

<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="col-8">
            <h3 class="title-section">Listado de Modificaciones</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row align-items-center mb-3">
                <div class="col">
                    <div class="ui icon input">
                        <input type="text" id="search" name="search" placeholder="Buscar...">
                        <i class="fas fa-search"></i>
                    </div>
                    <button id="buscar" class="ui green button">Buscar</button>
                </div>
            </div>
            <%- locals.flash %>
            <table class="ui very padded table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <% binnacles.forEach(function (binnacle, i){ %>
                    <tr>
                        <td><%= (i + 1) %></td>
                        <td><%= binnacle.description %></td>
                        <input type="hidden" value="<%= binnacle.modific_date %>" id="fecha">
                        <td><%= binnacle.modific_date %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% if(binnacles.length === 0) { %>
            <p class="empty text-center">( Lista vacía. No se encontraron registros guardados )</p>
            <% } %>
        </div>
    </div>
</div>

<%- include('../layouts/dashboard_footer') %>