<%- include('../layouts/dashboard_header') %>
<script src="/js/utilidades.js"></script>
<script>
    $(document).ready(function () {

        var fecha = convert($("#fechaI").val());
        console.log(fecha);
        $("#start_date").val(fecha);

        var fechaFin = convert($("#fechaF").val());
        $("#end_date").val(fechaFin);

        var total = monthDiff(fecha, fechaFin);
        $("#duration").val(total);


        var porId = $("#tipoDNI").val();
        if (porId === "CED") {
            $("#dni_type").val("Cedula de Identificacion");
        } else {
            $("#dni_type").val("RUC");
        }

        
        convenio();

        function convenio() {
            var condicion = $("#boleano").val();
            console.log("Condicion 1 " + condicion);
            var html;
            if (condicion) {
                html = '<option value="true">Si</option>';
                html += '<option value="false">No</option>';
            } else {
                html = '<option value="false">No</option>';
                html += '<option value="true">Si</option>';
            }
            $("#covenant").html(html);

            var status_host = $("#s_hostpod").val();
            html = "";
            if (status_host == "regular") {
                html = '<option value="regular">Regular</option>';
                html += '<option value="blocked">Blocked</option>';
                html += '<option value="bypassed">Bypassed</option>';
            } else if (status_host == "blocked") {
                html = '<option value="blocked">Blocked</option>';
                html += '<option value="regular">Regular</option>';
                html += '<option value="bypassed">Bypassed</option>';
            } else if (status_host == "bypassed") {
                html = '<option value="bypassed">Bypassed</option>';
                html += '<option value="blocked">Blocked</option>';
                html += '<option value="regular">Regular</option>';
            } else {
                html = '<option value="regular">Regular</option>';
                html += '<option value="blocked">Blocked</option>';
                html += '<option value="bypassed">Bypassed</option>';
            }
            $("#status_hostpod").html(html);

            var pay = $("#payment").val();
            html = "";
            if (pay == "cheque") {
                html = '<option value="cheque">Cheque</option>';
                html += '<option value="transferencia">Transferencia</option>';
                html += '<option value="efectivo">Efectivo</option>';
                html += '<option value="coopemego">Coopmego</option>';
            } else if (pay == "transferencia") {
                html = '<option value="transferencia">Transferencia</option>';
                html += '<option value="cheque">Cheque</option>';
                html += '<option value="efectivo">Efectivo</option>';
                html += '<option value="coopemego">Coopmego</option>';
            } else if (pay == "efectivo") {
                html = '<option value="efectivo">Efectivo</option>';
                html += '<option value="transferencia">Transferencia</option>';
                html += '<option value="cheque">Cheque</option>';
                html += '<option value="coopemego">Coopmego</option>';
            } else if (pay == "coopmego") {
                html = '<option value="coopemego">Coopmego</option>';
                html += '<option value="transferencia">Transferencia</option>';
                html += '<option value="cheque">Cheque</option>';
                html += '<option value="efectivo">Efectivo</option>';
            }
            $("#payment_method").html(html);

            var estadoContrato = $("#statu").val();
            console.log("Condicion " + estadoContrato);
            var html;
            if (estadoContrato) {
                html = '<option value="true">Activo</option>';
                html += '<option value="false">Inactivo</option>';
            } else {
                html = '<option value="false">Inactivo</option>';
                html += '<option value="true">Activo</option>';
            }
            $("#status").html(html);
        }

    });
</script>

<% contracts.forEach(function (contract, i){ %>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="title-section mb-4">Modificar Contrato</h3>
            <%- locals.flash %>

            <form action="/api/contract/update/<%= contract._id %>" method="POST">

                <input type="hidden" value="<%= info %>" id="info" name="info">
                <div class="card-form">
                    <div class="card-form-header">Datos del Contrato</div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="number">Número de Contrato</label>
                                <input type="text" class="form-control" id="number" name="number" autocomplete="off"
                                    value="<%= contract.number %>" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="covenant">Convenio</label>
                                <input type="hidden" value="<%= contract.covenant %>" id="boleano" name="boleano">
                                <select class="form-control" id="covenant" name="covenant">
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="payment_method">Forma de Pago</label>
                                <input type="hidden" id="payment" name="payment" value="<%= contract.payment_method %>">
                                <select class="form-control" id="payment_method" name="payment_method">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="start_date">Fecha de Inicio</label>
                                <input type="hidden" id="fechaI" value="<%= contract.start_date %>">
                                <input type="date" class="form-control" id="start_date" name="start_date"
                                    autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="end_date">Fecha de Finalización</label>
                                <input type="hidden" id="fechaF" value="<%= contract.end_date %>">
                                <input type="date" class="form-control" id="end_date" name="end_date" autocomplete="off"
                                    required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="duration">Duración</label>
                                <input type="text" class="form-control" id="duration" name="duration" autocomplete="off"
                                    value="<%= contract.duration %>" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="status">Estado del Contrato</label>
                                <input type="hidden" id="statu" value="<%= contract.status %>">
                                <select class="form-control" id="status" name="status">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="reference">Referencia</label>
                                <input type="text" class="form-control" id="reference" name="reference"
                                    value="<%= contract.reference %>" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="observation">Observaciones</label>
                                <textarea class="form-control" id="observation" name="observation"
                                    rows="2"><%= contract.observation %></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="ip_service">Direccion IP</label>
                                <input type="text" class="form-control" name="ip_service" id="ip_service"
                                    value="<%= contract.ip_service %>" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="mac_address">MAC Address</label>
                                <input type="text" class="form-control" name="mac_address" id="mac_address"
                                    value="<%= contract.mac_address %>" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="number_hostpod">Hostpod</label>
                                <input class="form-control" id="number_hostpod" name="number_hostpod"
                                    value="<%= contract.number_hostpod %>" rows="2"></input>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="status_hostpod">Estado Hostpod</label>
                                <input type="hidden" id="s_hostpod" value="<%= contract.status_hostpod %>">
                                <select class="form-control" id="status_hostpod" name="status_hostpod">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right">
                    <button type="submit" class="ui primary button" id="save">Modificar Registro</button>
                    <a href="/dashboard" class="ui red button">Cancelar</a>
                </div>
            </form>

        </div>
    </div>
</div>

<% }) %>

<%- include('../layouts/dashboard_footer') %>