<%- include('../layouts/dashboard_header') %>

<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="col-8">
            <h3 class="title-section">Listadooooo de Contratos</h3>
        </div>
        <div class="col text-right">
            <a href="contract/new" class="ui primary basic button">Añadir Contrato</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row align-items-center mb-3">
                <div class="col">
                    <div class="ui icon input">
                        <input type="number" id="search" name="search" placeholder="Buscar...">
                        <i class="fas fa-search"></i>
                    </div>
                    <button id="buscar" class="ui green button">Buscar</button>
                </div>
            </div>
            <%- locals.flash %>
            <table class="ui very padded table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Identificación</th>
                        <th>Cliente</th>
                        <th>Plan</th>
                        <th>Pagos</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% contracts.forEach(function (contract, i){ %>
                    <tr>
                        <td><%= (i + 1) %></td>
                        <td><%= contract.client.dni %></td>
                        <td class="text-uppercase"><%= contract.client.trade_name %></td>
                        <td><%= contract.service.name %></td>
                        <td><span
                                class="tag <%= (contract.debtor) ? 'inactive':'active' %>"><%= (contract.debtor) ? 'En Mora':'Al día' %></span>
                        </td>
                        <td><span
                                class="tag <%= (contract.status) ? 'active':'inactive' %>"><%= (contract.status) ? 'Activo':'Inactivo' %></span>
                        </td>
                        <td>
                            <a href="contract/modific/<%= contract._id %>/<%= contract.ip_service %>"
                                title="Editar Contrato" class="mr-2"><i class="far fa-edit"></i></a>
                            <a href="contract/delete/<%= contract._id %>/<%= contract.ip_service %>"
                                title="Eliminar Contrato" class="mr-2"><i class="fas fa-trash-alt"></i></a>
                            <% if(contract.status) { %>
                            <a href="#" title="Desactivar Contrato" data-toggle="modal"
                                data-target="#modal_contract_suspend"
                                onclick="setFieldsSuspend({ number: '<%= contract.number %>' })"><i
                                    class="fas fa-power-off"></i></a>
                            <% } else { %>
                            <a href="#" title="Activar Contrato" data-toggle="modal"
                                data-target="#modal_contract_activate"
                                onclick="setFieldsActivate({ number: '<%= contract.number %>' })"><i
                                    class="fas fa-power-off"></i></a>
                            <% } %>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% if(contracts.length === 0) { %>
            <p class="empty text-center">( Lista vacía. No se encontraron registros guardados )</p>
            <% } %>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_contract_suspen" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/api/contract/suspend" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_contract_suspend_title">Suspención de contrato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="number" class="mb-0">Número de contrato:</label>
                        <input type="text" name="number" id="s_number" class="form-control" autocomplete="off" readonly>
                    </div>
                    <div class="form-group">
                        <label for="reason" class="mb-0">Razón de la suspención:</label>
                        <input type="text" name="reason" id="s_reason" class="form-control" autocomplete="off" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Suspender</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_contract_activate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/api/contract/activate" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_contract_activate_title">Activación de contrato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="number" class="mb-0">Número de contrato:</label>
                        <input type="text" name="number" id="a_number" class="form-control" autocomplete="off" readonly>
                    </div>
                    <!--
                            <div class="form-group">
                        <label for="reason" class="mb-0">Razón de la suspención:</label>
                        <input type="text" name="reason" id="a_reason" class="form-control" autocomplete="off" required>
                    </div>
                        -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Activar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function setFieldsSuspend(data) {
        $('#s_number').val(data.number);
    }

    function setFieldsActivate(data) {
        $('#a_number').val(data.number);
    }
</script>
<%- include('../layouts/dashboard_footer') %>