<%- include('../layouts/dashboard_header') %>
<script src="/js/utilidades.js"></script>

<style>
    /* input:invalid {
        border: 1px solid red;
    } */

    /* input:valid {
        border: 1px solid green;
    } */
</style>
<script>
    $(document).ready(function () {
        $('#end_date').change(function () {
            var inicio = document.getElementById("start_date").value;
            var fin = $("#end_date").val();
            if (inicio != "" && fin != "") {
                var total = monthDiff(inicio, fin);

                $("#duration").val(total);
            }
        });
      
        $('#start_date').click(function () {
            $('#start_date').change(function () {
                var inicio = document.getElementById("start_date").value;
                var fin = $("#end_date").val();
                if (inicio != "" && fin != "") {
                    var total = monthDiff(inicio, fin);
                    $("#duration").val(total);
                }
            });
        });
    });

    
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="title-section mb-4">Nuevo Contrato</h3>
            <%- locals.flash %>
            <form id="formulario" action="/api/contract/create-with-client" method="POST">
                <div class="card-form">
                    <div class="card-form-header">Seleccione Hostpot</div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="number_hostpod">Hostpot</label>
                                <select class="form-control" id="number_hostpod" name="number_hostpod" required>
                                    <option value="" disabled>Seleccione un hostpod</option>
                                    <% hostpod.forEach(function (hostpod, i){ %>
                                    <option value="<%= hostpod.number_hostpod %>"><%= hostpod.number_hostpod %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-form">
                    <div class="card-form-header">Datos Generales</div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="dni_type">Tipo de Identificación:</label>
                                <select class="form-control" id="dni_type" name="dni_type">
                                    <option value="CED">Cédula de Identidad</option>
                                    <option value="RUC">RUC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="text-right" for="dni">Identificación</label>
                                <input type="text" class="form-control" id="dni" name="dni" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="client_type">Tipo Cliente</label>
                                <select class="form-control" id="client_type" name="client_type">
                                    <option value="Residencial">Residencial</option>
                                    <option value="Corporativo">Corporativo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="business_name">Razón Social</label>
                                <input type="text" class="form-control" id="business_name" name="business_name"
                                    autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="trade_name">Nombre Comercial</label>
                                <input type="text" class="form-control" id="trade_name" name="trade_name"
                                    autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="person_type">Tipo Persona</label>
                                <select class="form-control" id="person_type" name="person_type">
                                    <option value="NAT">Natural</option>
                                    <option value="JUD">Jurídica</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="profession">Profesión</label>
                                <input type="text" class="form-control" id="profession" name="profession"
                                    autocomplete="off">
                            </div>
                        </div>
                    <!--    <div class="col">
                            <div class="form-group">
                                <label for="status">Estado</label>
                        -->        <select class="form-control" id="status" name="status" hidden="true">
                                    <option value="true">Activo</option>
                               <!--     <option value="false">Inactivo</option> -->
                                </select>
                        <!--    </div>
                        </div>
                    </div>-->
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="phone">Teléfono / Celular</label>
                                <input type="text" class="form-control" id="phone" name="phone" autocomplete="off"
                                    required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="email">Correo Electrónico</label>
                                <input type="text" class="form-control" id="email" name="email" autocomplete="off"
                                    required>
                            </div>
                        </div>
                        A
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="country">País</label>
                                <input type="text" class="form-control" id="country" name="country" autocomplete="off"
                                    required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="city">Ciudad</label>
                                <input type="text" class="form-control" id="city" name="city" autocomplete="off"
                                    required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="city">Parroquia</label>
                                <input type="text" class="form-control" id="parish" name="parish" autocomplete="off"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group mb-0">
                                <label for="address">Dirección</label>
                                <textarea class="form-control" id="address" name="address" rows="2" required></textarea>
                            </div>
                        </div>
                       <!-- <div class="col">
                            <div class="form-group mb-0">
                                <label for="reference">Referencia</label>
                           -->     <textarea class="form-control" id="reference" name="reference" rows="2" hidden="true"></textarea>
                           <!-- </div>
                        </div> -->

                    </div>
                </div>

                <div class="card-form">
                    <div class="card-form-header">Datos del Contrato</div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="number">Número de Contrato</label>
                                <input type="text" class="form-control" id="number" name="number"  autocomplete="off"
                                    required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="covenant">Convenio</label>
                                <select class="form-control" id="covenant" name="covenant">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="payment_method">Forma de Pago</label>
                                <select class="form-control" id="payment_method" name="payment_method">
                                    <option value="transferencia">Transferencia Bancaria</option>
                                    <option value="cheque">Cheque</option>
                                    <option value="efectivo">Efectivo</option>
                                    <option value="coopmego">Pago Coopmego</option>
                                    <option value="coopmego">D&eaacutebito</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="start_date">Fecha de Inicio</label>
                                <input type="date" class="form-control" id="start_date" name="start_date"
                                    autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="end_date">Fecha de Finalización</label>
                                <input type="date" class="form-control" id="end_date" name="end_date" autocomplete="off"
                                    required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="duration">Duración</label>
                                <input type="text" class="form-control" id="duration" name="duration" autocomplete="off"
                                    readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="service">Servicio</label>
                                <select class="form-control" id="service" name="service" required>
                                    <option value="" disabled>Seleccione un servicio</option>
                                    <% services.forEach(function (service, i){ %>
                                    <option value="<%= service._id %>"><%= service.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="issuance">Punto de Emisión</label>
                                <select class="form-control" id="issuance" name="issuance">
                                    <% issuances.forEach(function (issuance, i){ %>
                                    <option value="<%= issuance._id %>"><%= issuance.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                       <!-- <div class="col">
                            <div class="form-group">
                                <label for="c_status">Estado del Contrato</label>
                           -->     <select class="form-control" id="c_status" name="c_status" hidden="true">
                                    <option value="true">Activo</option>
                                   <!-- <option value="false">Inactivo</option> -->
                                </select>
                         <!--   </div>
                        </div>
                    </div>-->
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="c_reference">Referencia</label>
                                <input type="text" class="form-control" id="c_reference" name="c_reference"
                                    autocomplete="off">
                            </div>
                        </div>
                    </div>
                  <!--  <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="observation">Observaciones</label>
                      -->          <textarea class="form-control" id="observation" name="observation" rows="2" hidden="true"></textarea>
                        <!--    </div>
                        </div>
                    </div>-->
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="ip_service">Direccion IP</label>
                                <input type="text" class="form-control" name="ip_service" id="ip_service" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="mac_address">MAC Address</label>
                                <input type="text" class="form-control" name="mac_address" id="mac_address" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="status_hostpod">Estado Hostpot</label>
                                <select class="form-control" id="status_hostpod" name="status_hostpod">
                                <!--    <option value="regular">Regular</option> -->
                                    <option value="blocked">Blocked</option>
                                    <option value="bypassed">Bypassed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right">
                    <button type="submit" class="ui primary button" id="save">Guardar Registro</button>
                    <a href="/dashboard" class="ui red button">Cancelar</a>
                </div>
                <!-- <button type="submit" id="save" class="ui primary button">Guardar Registro</button> -->
            </form>
        </div>
    </div>
</div>
<%- include('../layouts/dashboard_footer') %>