<%- include('../layouts/dashboard_header') %>
<script src="/js/utilidades.js"></script>
<script>

    $(document).ready(function () {

        var fecha = convert($("#fechaI").val());
        console.log(fecha);
        $("#start_date").val(fecha);

        var fechaFin = convert($("#fechaF").val());
        $("#end_date").val(fechaFin);

        var total = monthDiff(fecha, fechaFin);
        $("#duration").val(total);

        var porId = $("#tipoDNI").val();
        if (porId === "CED") {
            $("#dni_type").val("Cedula de Identificacion");
        } else {
            $("#dni_type").val("RUC");
        }
        convenio();
        function convenio() {
            var condicion = $("#boleano").val();
            console.log(condicion);
            var html;
            if (condicion) {
                html = '<option value="true">Si</option>';
                html += '<option value="false">No</option>';
            } else {
                html = '<option value="false">No</option>';
                html += '<option value="true">Si</option>';
            }
            $("#covenant").html(html);
        }

    });


</script>

<% contracts.forEach(function (contract, i){ %>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="title-section mb-4">Eliminar Contrato</h3>
            <%- locals.flash %>

            <form action="/api/contract/delete/<%= contract._id %>" method="POST">

                <input type="hidden" value="<%= info %>" id="info" name="info">
                <div class="card-form">
                    <div class="card-form-header">Datos del Contrato</div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="number">Número de Contrato</label>
                                <input type="text" class="form-control" id="number" name="number" autocomplete="off"
                                    value="<%= contract.number %>" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="covenant">Convenio</label>
                                <select class="form-control" id="covenant" name="covenant">
                                    <input type="hidden" value="<%= contract.covenant %>" id="boleano">
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="payment_method">Forma de Pago</label>
                                <select class="form-control" id="payment_method" name="payment_method">
                                    <option value="<%= contract.payment_method %>"><%= contract.payment_method %>
                                    </option>
                                    <!-- <option value="transferencia">Transferencia Bancaria</option>
                                    <option value="cheque">Cheque</option>
                                    <option value="efectivo">Efectivo</option>
                                    <option value="coopmego">Pago Coopmego</option> -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="start_date">Fecha de Inicio</label>
                                <input type="hidden" id="fechaI" value="<%= contract.start_date %>">
                                <input type="date" class="form-control" id="start_date" name="start_date"
                                    autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="end_date">Fecha de Finalización</label>
                                <input type="hidden" id="fechaF" value="<%= contract.end_date %>">
                                <input type="date" class="form-control" id="end_date" name="end_date" autocomplete="off"
                                    required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="duration">Duración</label>
                                <input type="text" class="form-control" id="duration" name="duration" autocomplete="off"
                                    value="<%= contract.duration %>" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="c_status">Estado del Contrato</label>
                                <select class="form-control" id="c_status" name="c_status">
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="c_reference">Referencia</label>
                                <input type="text" class="form-control" id="c_reference" name="c_reference"
                                    value="<%= contract.reference %>" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="observation">Observaciones</label>
                                <textarea class="form-control" id="observation" name="observation"
                                    rows="2"><%= contract.observation %></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="ip_service">Direccion IP</label>
                                <input type="text" class="form-control" name="ip_service" id="ip_service"
                                    value="<%= contract.ip_service %>" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="mac_address">MAC Address</label>
                                <input type="text" class="form-control" name="mac_address" id="mac_address"
                                    value="<%= contract.mac_address %>" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="number_hostpod">Hostpod</label>
                                <input class="form-control" id="number_hostpod" name="number_hostpod"
                                    value="<%= contract.number_hostpod %>" rows="2"></input>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right">
                    <button type="submit" class="ui primary button" id="save">Eliminar Registro</button>
                    <a href="/dashboard" class="ui red button">Cancelar</a>
                </div>
                <!-- <button type="submit" id="save" class="ui primary button">Guardar Registro</button> -->
            </form>

        </div>
    </div>
</div>

<% }) %>

<%- include('../layouts/dashboard_footer') %>