<%- include('../layouts/dashboard_header') %>

<%if (typeof sesion == 'undefined' || (!sesion) ){%>

<% } else { %>

<script type="text/javascript">
    
    $(document).ready(function() {

        $('#buscar').on('click', function(){

            window.location.href = "http://localhost:4000/dashboard/service";

        });

    });
        

</script>
<body>

    
<!--  -->
<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="col-8">
            <h3 class="title-section">Listadoo de Contratos</h3>
        </div>
        <div class="col text-right">
            <a href="dashboard/contract/new" class="ui primary basic button">Añadir Contrato</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="GET" action="/dashboard">

            <div class="row align-items-center mb-3">
                <div class="col">
                    <div class="ui icon input">
                        <input type="number" id="search" name="search" placeholder="Buscar...">
                        <i class="fas fa-search"></i>
                    </div>
                    <button type="submit"  class="ui green button"> Buscar </button> 
                </div>
            </div>
            </form>
            <%- locals.flash %>
            <table class="ui very padded table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Identificación</th>
                        <th>Cliente</th>
                        <th>Plan</th>
                        <th>Pagos</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% contracts.forEach(function (contract, i){ %>
                    <% if(contract.client.dni != contract.searchs) { %>


                    <tr>
                        <td><%= (i + 1) %></td>
                        <td><%= contract.client.dni %></td>
                        <td class="text-uppercase"><%= contract.client.trade_name %></td>
                        <td><%= contract.service.name %></td>
                        <td><span
                                class="tag <%= (contract.debtor) ? 'inactive':'active' %>"><%= (contract.debtor) ? 'En Mora':'Al día' %></span>
                        </td>
                        <td><span
                                class="tag <%= (contract.status) ? 'active':'inactive' %>"><%= (contract.status) ? 'Activo':'Inactivo' %></span>
                        </td>
                        <td>
                            <a href="dashboard/contract/modific/<%= contract._id %>/<%= contract.ip_service %>"
                                title="Editar Contrato" class="mr-2"><i class="far fa-edit"></i></a>
                            <a href="dashboard/contract/delete/<%= contract._id %>/<%= contract.ip_service %>"
                                title="Eliminar Contrato" class="mr-2"><i class="fas fa-trash-alt"></i></a>
                            <% if(contract.status) { %>
                            <a href="#" title="Desactivar Contrato" data-toggle="modal"
                                data-target="#modal_contract_suspend"
                                onclick="setFieldsSuspend({ number: '<%= contract.number %>' })"><i
                                    class="fas fa-power-off"></i></a>
                            <% } else { %>
                            <script>
                                //Todo en código que se encuentra aquí se auto explica 
                                Push.create("Luis Rene Mas Mas", { //Titulo de la notificación
                                    body: "Desarrollador front-end.", //Texto del cuerpo de la notificación
                                    icon: 'https://01luisrene.com/content/images/2017/04/autor.png', //Icono de la notificación
                                    timeout: 6000, //Tiempo de duración de la notificación
                                    onClick: function () { //Función que se cumple al realizar clic cobre la notificación
                                        window.location =
                                        "https://01luisrene.com"; //Redirige a la siguiente web
                                        this.close(); //Cierra la notificación
                                    }
                                });
                            </script>
                            <!-- <a href="#" title="Activar Contrato" data-toggle="modal"
                                data-target="#modal_contract_activate"
                                onclick="setFieldsActivate({ number: '<%= contract.number %>' })"><i
                                    class="fas fa-power-off"></i></a> -->
                            <% } %>
                        </td>
                    </tr>
                    <%} %>

                    <% }) %>
                </tbody>
            </table>
            <% if(contracts.length === 0) { %>
            <p class="empty text-center">( Lista vacía. No se encontraron registros guardados )</p>
            <% } %>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_contract_suspend" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/api/contract/suspend" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_contract_suspend_title">Suspención de contrato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="number" class="mb-0">Número de contrato:</label>
                        <input type="text" name="number" id="s_number" class="form-control" autocomplete="off" readonly>
                    </div>
                    <div class="form-group">
                        <label for="reason" class="mb-0">Razón de la suspención:</label>
                        <input type="text" name="reason" id="s_reason" class="form-control" autocomplete="off" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Suspender</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_contract_activate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/api/contract/activate" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_contract_activate_title">Activación de contrato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="number" class="mb-0">Número de contrato:</label>
                        <input type="text" name="number" id="a_number" class="form-control" autocomplete="off" readonly>
                    </div>
                    <!--
                                <div class="form-group">
                            <label for="reason" class="mb-0">Razón de la suspención:</label>
                            <input type="text" name="reason" id="a_reason" class="form-control" autocomplete="off" required>
                        </div>
                            -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Activar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function setFieldsSuspend(data) {
        $('#s_number').val(data.number);
    }

    function setFieldsActivate(data) {
        $('#a_number').val(data.number);
    }
</script>

<% } %>
</body>