<%- include('../layouts/dashboard_header') %>
<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="col-8">
            <h3 class="title-section">Subir Excel a la Base de Datos</h3>
        </div>
        
    </div>
    <%- locals.flash %>
    <div class="row">
        <form id="uploadForm" enctype="multipart/form-data" action="/dashboard/upload" method="post">
            <div>
                <!-- Tab panes -->
                <input type="file" name="file" /><br>
                <br>
                <input type="submit" value="SUBIR" name="submit" class="ui primary basic button">
            </div>
        </form>
    </div>
</div>
<%- include('../layouts/dashboard_footer') %>