<%- include('../layouts/dashboard_header') %>
<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="col-8">
            <h3 class="title-section">Listado de Hotspots</h3>
        </div>
        <div class="col text-right">
            <a href="hotspot/new" class="ui primary basic button">Añadir Hotspot</a>
        </div>
    </div>
    <div class="row">
        <% hostpod.forEach(function (hostpod, i){ %>
        <div class="col-3">
            <div class="hostpod-box">
                <span class="cutting-day">Numero: <%= hostpod.number_hostpod %></span>
                <span class="actions mt-3">
                    <a href="#" class="tiny ui primary basic button"><i class="fas fa-pen mr-2"></i>Editar</a>
                </span>
            </div>
        </div>
        <% }) %> 
        <div class="col-12">
            <% if(hostpod.length === 0) { %>
            <p class="empty text-center">( Lista vacía. No se encontraron registros guardados )</p>
            <% } %> 
        </div>
    </div>
</div>
<%- include('../layouts/dashboard_footer') %>