<%- include('../layouts/dashboard_header') %>
<style>
    div.error {
        margin-top: -60px;
        margin-left: 250px;
        background: white;
        border: 1px solid #ccc;
        position: absolute;
        z-index: 100;
    }
</style>
<script>
    $(function () {
        $.validator.addMethod("soloLetras", function (value, element) {
            return this.optional(element) || /^[a-z\s]+$/i.test(value);
        }, "Solo letras");

        $("#formulario").validate({
            rules: {
                name: {
                    soloLetras: true
                },
                cutting_day: {
                    digits: true
                },
                description: {
                    soloLetras: true
                }
            },
            errorElement: "div"
        });
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="title-section mb-4">Nuevo Punto de Emisión</h3>
            <%- locals.flash %>
            <form id="formulario" action="/api/issuance/create" method="POST">
                <div class="card-form">
                    <div class="card-form-header">Datos del Punto</div>
                    <div class="form-row">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="name">Nombre:</label>
                                <input type="text" class="form-control" id="name" name="name" autocomplete="off"
                                    required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="cutting_day">Día de Corte:</label>
                                <input type="text" class="form-control" id="cutting_day" name="cutting_day"
                                    autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción:</label>
                        <textarea class="form-control" id="description" name="description" rows="2" required></textarea>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="ui primary button">Guardar Registro</button>
                    <a href="/dashboard/issuance" class="ui red button">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../layouts/dashboard_footer') %>