<%- include('../layouts/dashboard_header') %>


<script src="/js/servicios.js"></script>

<script>
    $(document).ready(function(){
        
    });
</script>

<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="col-8">
            <h3 class="title-section">Puntos de Emisión</h3>
        </div>
        <div class="col text-right">
            <a href="issuance/new" class="ui primary basic button">Añadir Punto de Emisión</a>
        </div>
    </div>
    <%- locals.flash %>

    <div class="row">
        <% issuances.forEach(function (issuance, i){ %>
        <div class="col-3">
            <div class="issuance-box">
                <span class="name"><%= issuance.name %></span>
                <span class="cutting-day">Día de Corte: <%= issuance.cutting_day %> c/m</span>
                <span class="actions mt-3">
                    <a href="issuance/modific/<%= issuance.id %>" class="tiny ui primary basic button"><i class="fas fa-pen mr-2"></i>Editar</a>
                    <a href="issuance/delete/<%= issuance.id %>"  class="tiny ui primary basic button"><i class="fas fa-trash mr-2"></i>Eliminar</a>
                </span>
            </div>
        </div>
        <% }) %> 
        <div class="col-12">
            <% if(issuances.length === 0) { %>
            <p class="empty text-center">( Lista vacía. No se encontraron registros guardados )</p>
            <% } %> 
        </div>
    </div>
</div>
<%- include('../layouts/dashboard_footer') %>