<%- include('../layouts/dashboard_header') %>

<script>
</script>

<% issuances.forEach(function (issuance, i){ %>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="title-section mb-4">Modificar Punto de Emisión</h3>
            <%- locals.flash %>
            <form action="/api/issuance/update/<%= issuance._id %>" method="POST">
                <div class="card-form">
                    <div class="card-form-header">Datos del Punto</div>
                    <div class="form-row">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="name">Nombre:</label>
                                <input type="text" class="form-control" id="name" name="name" autocomplete="off"
                                    value="<%= issuance.name %>" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="cutting_day">Día de Corte:</label>
                                <input type="text" class="form-control" id="cutting_day" name="cutting_day"
                                    autocomplete="off" value="<%= issuance.cutting_day %>" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción:</label>
                        <textarea class="form-control" id="description" name="description" rows="2" required><%= issuance.description %></textarea>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="ui primary button">Modificar Registro</button>
                    <a href="/dashboard/issuance" class="ui red button">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<% }) %>

<%- include('../layouts/dashboard_footer') %>