<%- include('../layouts/dashboard_header') %>


<script>

    console.log(<%= contracts %>);

</script>

<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="col-8">
            <h3 class="title-section">Listado de Cortes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row align-items-center mb-3">
                <div class="col">
                    <div class="ui icon input">
                        <input type="text" id="search" name="search" placeholder="Buscar...">
                        <i class="fas fa-search"></i>
                    </div>
                    <button id="buscar" class="ui green button">Buscar</button>
                </div>
            </div>
            <%- locals.flash %>
            <table class="ui very padded table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Identificación</th>
                        <th>Cliente</th>
                        <th>Tipo Cliente</th>
                        <th>Estado</th>
                        <th>Pagos</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% contracts.forEach(function (contract, i){ %>
                    <tr>
                        <% if (contract.debtor){ %>
                        <td><%= (i + 1) %></td>
                        <td><%= contract.client.dni %></td>
                        <td class="text-uppercase"><%= contract.client.trade_name %></td>
                        <td class="text-uppercase"><%= contract.client.client_type %></td>
                        <td><span
                                class="tag <%= (contract.status) ? 'active':'inactive' %>"><%= (contract.status) ? 'Activo':'Inactivo' %></span>
                        </td>
                        <td><span
                                class="tag <%= (contract.debtor) ? 'inactive':'active' %>"><%= (contract.debtor) ? 'En Mora':'Al día' %></span>
                        </td>
                        <% } %>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% if(contracts.length === 0) { %>
            <p class="empty text-center">( Lista vacía. No se encontraron pagos retrasados )</p>
            <% } %>
        </div>
    </div>
</div>

<%- include('../layouts/dashboard_footer') %>