<%- include('../layouts/dashboard_header') %>

<script>
    console.log(<%= payments %>);
</script>

<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="col-8">
            <h3 class="title-section">Pagos Pendientes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row align-items-center mb-3">
                <div class="col-8">
                    <div class="ui icon input">
                        <input type="text" placeholder="Buscar...">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="col text-right">
                    <a class="ui primary basic button">Notificar Deudas</a>
                </div>
            </div>
            <%- locals.flash %>
            <table class="ui very padded table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Concepto</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Saldo</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% payments.forEach(function (payment, i){ %>
                    <tr>
                        <td>#<%= payment.id_payment %></td>
                        <td><%= payment.client.trade_name %></td>
                        <td><%= payment.concept %></td>
                        <td><%= payment.issue_date %></td>
                        <td>$ <%= payment.total %></td>
                        <td>$ <%= payment.balance %></td>
                        <td><%= payment.status %></td>
                        <td>
                            <a href="#" class="mr-2" title="Notificar"><i class="far fa-envelope"></i></a>
                            <a href="#" class="set_payment" title="Registrar Pago" data-toggle="modal" data-target="#set_payment" onclick="setFields({ id: '<%= payment.id_payment %>', concept: '<%= payment.concept %>' })"><i class="fas fa-coins"></i></a>
                        </td>
                    </tr>
                    <% }) %> 
                </tbody>
            </table>
            <% if(payments.length === 0) { %>
            <p class="empty text-center">( Lista vacía. No se encontraron registros guardados )</p>
            <% } %> 
        </div>
    </div>
</div>
<div class="modal fade" id="set_payment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PaymentTitle">Añadir Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/api/payment/add" method="POST">
                    <div class="form-group">
                        <label for="type" class="mb-0">Tipo de Pago:</label>
                        <select name="type" id="type" class="form-control">
                            <option value="1">Efectivo</option>
                            <option value="2">Cheque</option>
                            <option value="3">Transferencia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_payment" class="mb-0">ID de Pago:</label>
                        <input type="text" name="id_payment" id="id_payment" class="form-control" autocomplete="off" readonly>
                    </div>
                    <div class="form-group">
                        <label for="concept" class="mb-0">Concepto:</label>
                        <input type="text" name="concept" id="concept" class="form-control" autocomplete="off" readonly>
                    </div>
                    <div class="form-group">
                        <label for="balance" class="mb-0">Abono:</label>
                        <input type="number" name="balance" id="balance" class="form-control" autocomplete="off" required>
                    </div>
                    <div class="form-group mb-0">
                        <button type="submit" class="btn btn-primary btn-block">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function setFields(data){
        $('#id_payment').val(data.id);
        $('#concept').val(data.concept);  
    }
</script>
<%- include('../layouts/dashboard_footer') %>