<!-- va en lista de partner-->
<td><span
        class="tag <%= (contract.debtor) ? 'inactive':'active' %>"><%= (contract.debtor) ? 'En Mora':'Al día' %></span>
</td>
<td><span
        class="tag <%= (contract.status) ? 'active':'inactive' %>"><%= (contract.status) ? 'Activo':'Inactivo' %></span>
</td>
<td>
    <a href="contract/modific/<%= contract.number %>" title="Editar Contrato" class="mr-2"><i
            class="far fa-edit"></i></a>
    <% if(contract.status) { %>
    <a href="#" title="Desactivar Contrato" data-toggle="modal" data-target="#modal_contract_suspend"
        onclick="setFieldsSuspend({ number: '<%= contract.number %>' })"><i class="fas fa-power-off"></i></a>
    <% } else { %>
    <a href="#" title="Activar Contrato" data-toggle="modal" data-target="#modal_contract_activate"
        onclick="setFieldsSuspend({ number: '<%= contract.number %>' })"><i class="fas fa-power-off"></i></a>
    <% } %>
</td>

<!--Despues de table-->

<% if(contracts.length === 0) { %>
<p class="empty text-center">( Lista vacía. No se encontraron registros guardados )</p>
<% } %>