<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script language="javascript" type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>

    <title>Copalingo</title>
    <link rel="icon" type="image/png" href="/img/icon-nodo.png" />

    <style>
        .inspiration {
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            font-family: 'Gill Sans', sans-serif;
            font-size: 12px;
            color: #969696;
        }

        .inspiration img {
            width: 60px;
        }

        .center {
            justify-content: center;
            align-items: center;
            font: 16px 'Roboto', sans-serif;
            -webkit-transform: scale(1.3);
            flex-direction: column;
            transform: scale(1.3);
            margin: 2em auto;
            box-sizing: border-box;
            cursor: url(https://user-images.githubusercontent.com/9720597/32018236-8e466e82-b9c9-11e7-84a0-038d861bfcd4.png) 20 20, default
        }

        .center .date {
            font-size: 30px;
            font-weight: 300;
        }

        .center .date-picker {
            display: flex;
            padding: 50px 20px;
            overflow: hidden;
        }

        .center .day,
        .center .month,
        .center .year {
            position: relative;
            height: 50px;
            margin: 0 10px;
            border-top: 1px solid #636363;
            border-bottom: 1px solid #636363;
            border-radius: 0;
        }

        .center .day:before,
        .center .month:before,
        .center .year:before,
        .center .day:after,
        .center .month:after,
        .center .year:after {
            content: '';
            position: absolute;
            left: 0;
            width: 80px;
            height: 50px;
            background-color: #fff;
            opacity: 0.8;
            pointer-events: none;
            z-index: 1;
        }

        .center .day:before,
        .center .month:before,
        .center .year:before {
            top: -51px;
        }

        .center .day:after,
        .center .month:after,
        .center .year:after {
            bottom: -51px;
        }

        .center .day li,
        .center .month li,
        .center .year li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 0
        }

        .center .day li {
            width: 40px;
        }

        .center .month li {
            width: 80px;
        }

        .center .year li {
            width: 80px;
        }

        .center .reset:active {
            -webkit-transform: scale(0.95);
            transform: scale(0.95);
        }
        .container{
            margin-top: 10%;
        }
        .card{
            width: 130%;
            margin-left: -15%;
        }

        body{
            font-size: 180%;
        }
        #demo-file{
            font-size: 103%;
        }
    </style>

</head>

<body>

    <main>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registro</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sistema de usuarios de Nodo</h6>
                    <div class="card-text">
                        <form action="/dashboard/save" method="post" enctype="multipart/form-data">
                            <div class="row gtr-uniform">
                                <div class="col-6 col-12-xsmall">
                                    <label for="name_user"><i class="far fa-user-circle"></i> Nombres: </label>
                                    <input type="text" class="form-control" id="name_user" name="name_user"
                                        onkeypress="return checkLetras(event)" required placeholder="Nombres" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="last_name_user"><i class="fas fa-user-circle"></i> Apellidos: </label>
                                    <input id="last_name_user" class="form-control" class="form-control"
                                        name="last_name_user" type="text" onkeypress="return checkLetras(event)"
                                        required placeholder="Apellidos" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="ci_user"><i class="far fa-id-card"></i> Cedula: </label>
                                    <input type="text" id="ci_user" class="form-control" class="form-control"
                                        name="ci_user" onkeypress="return checkNumeros(event)" required
                                        placeholder="Cedula" minlength="10" maxlength="10" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="direccion"><i class="far fa-id-card"></i> Dirección: </label>
                                    <input type="text" id="direccion" class="form-control" class="form-control"
                                        name="direccion" placeholder="Av. Universitaria y Mercadillo" minlength="5" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="housen"><i class="far fa-id-card"></i> Número de casa: </label>
                                    <input type="text" id="housen" class="form-control" class="form-control"
                                        name="housen" onkeypress="return checkNumeros(event)" placeholder="03-102"
                                        minlength="10" maxlength="10" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="nacionalidad"><i class="far fa-id-card"></i> Nacionalidad: </label>
                                    <input type="text" id="nacionalidad" class="form-control" class="form-control"
                                        name="nacionalidad" onkeypress="return checkNumeros(event)"
                                        placeholder="Nacionalidad" minlength="10" maxlength="10" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="demo-file"><i class="fas fa-venus-mars"></i> Sexo: </label>
                                    <select id="demo-file" name="gender_user" class="custom-select" required
                                        onchange="show_img(this.value)">
                                        <option value="">Seleccione...</option>
                                        <option value="m">Hombre</option>
                                        <option value="f">Mujer</option>
                                        <option value="u">Término preferido no listado</option>
                                        <option value="u">Prefiero no Contestar</option>
                                    </select>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="datepicker"><i class="far fa-calendar-alt"></i> Fecha de Nacimiento
                                        (aaaa-mm-dd):
                                    </label>
                                    <input type="text" id="dob_user" onclick="datePicker()" onblur="validateFecha();"
                                        class="form-control" class="form-control" name="birthday_user"
                                        onkeypress="return checkFecha(event)" maxlength="10" minlength="10" required
                                        placeholder="ejemplo: 1996-03-04" />
                                    <div style="margin: 0 auto">
                                        <div class="center" id="app_date" style="display: none"></div>
                                    </div>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="email"><i class="fas fa-mail-bulk"></i> Email: </label>
                                    <input type="email" id="email_inline" class="form-control" class="form-control"
                                        name="email_account" required placeholder="Email" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="password"><i class="fas fa-unlock-alt"></i> Contraseña: </label>
                                    <input type="password" class="form-control" class="form-control"
                                        name="password_account" id="password" value="" required
                                        placeholder="Contraseña" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="demo_password"><i class="fas fa-unlock"></i> Confirmar contraseña:
                                    </label>
                                    <input type="password" class="form-control" class="form-control"
                                        name="demo_password" id="confirm_password" value="" required
                                        placeholder="Confirmar contraseña" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="customFile"><i class="fas fa-camera"></i> Fotografía: </label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" name="photo_user"
                                            id="demo-file" value="" accept="image/*" placeholder="Foto de Perfil">
                                        <label class="custom-file-label" for="customFile">Fotografía</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <br>
                                    <button type="submit" class="btn btn-primary">Registrarse</button>
                                    <button type="reset" class="btn btn-secondary">Borrar datos</button>
                                </div>
                                <div class="col-12 text-center">
                                    <br>
                                    ¿Ya tienes una cuenta? <a href="/dashboard" class="button">
                                        Inicia Sesión <i class="fas fa-sign-in-alt"></i></a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>



        </div>

    </main>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>