<%- include('../layouts/dashboard_header') %>

<script>
console.log(<%= services %>)
</script>

<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="col-8">
            <h3 class="title-section">Listado de Planes</h3>
        </div>
        <div class="col text-right">
            <a href="service/new" class="ui primary basic button">Añadir Servicio</a>
        </div>
    </div>
    <%- locals.flash %>
    <div class="row">
        <div class="col">
            <div class="ui icon input">
                <input type="text" placeholder="Buscar...">
                <i class="fas fa-search"></i>
            </div>
            <table class="ui very padded table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% services.forEach(function (service, i){ %>
                    <tr>
                        <td><%= (i + 1) %></td>
                        <td><%= service.product %></td>
                        <td class="text-uppercase"><%= service.name %></td>
                        <td><%= service.description %></td>
                        <td><%= service.type %></td>
                        <td>$ <%= service.pricing %></td>
                        <td>
                            <a href="service/modific/<%= service.id %>" title="Editar Servicio" class="mr-2"><i class="far fa-edit"></i></a>
                            <a href="service/delete/<%= service.id %>" title="Eliminar Servicio" ><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    <% }) %> 
                </tbody>
            </table>
            <% if(services.length === 0) { %>
            <p class="empty text-center">( Lista vacía. No se encontraron registros guardados )</p>
            <% } %> 
        </div>
    </div>
</div>
<%- include('../layouts/dashboard_footer') %>