<%- include('../layouts/dashboard_header') %>

<script>

    $(document).ready(function(){
       
       var a = document.getElementById('fecha').value;
       $("#invoice_date").val(ConvertirFecha(a));

    });
        function ConvertirFecha(dato) {
        var fecha = dato;
        var hoy = new Date(fecha);
        var dia = ContarCero(hoy.getDate(), 2);
        var mes = ContarCero((hoy.getMonth() + 1), 2);

        if (dia < 10) {
            dia = '0' + dia;
        }
        if (mes < 10) {
            mes = '0' + mes;
        }

        var f = (hoy.getFullYear() + '-' + mes + '-' + dia);

        return f;

    }


    function ContarCero(texto, nCero) {
        texto = texto + "";
        var longi = texto.lenth;
        var aux = nCero - longi;
        var cadena = "";
        if (aux < nCero) {
            for (var i = longi; i < nCero; i++) {
                cadena += '0';
            }
            cadena += texto;
            return cadena;
        } else {
            return texto;
        }
    }
</script>

<% service.forEach(function (service, i){ %>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="title-section mb-4">Eliminar Plan</h3>
            <%- locals.flash %>
            <form method="POST" action="/api/service/delete/<%= service._id %>">
                <div class="card-form">
                    <div class="card-form-header">Datos del Plan</div>
                    <div class="form-row"> 
                        <div class="col-4">
                            <div class="form-group">
                                <label for="product">Código del Producto</label>
                                <input type="text" name="product" class="form-control" id="product" value="<%= service.product%>" readonly>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Nombre del Plan</label>
                                <input type="text" name="name" class="form-control" id="name" value="<%= service.name %>" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="description">Descripción del Plan</label>
                                <textarea class="form-control" name="description" id="description" required><%= service.description%></textarea>
                            </div>
                        </div>
                    </div>                    
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="type">Tipo de Servicio</label>
                                <select class="form-control" id="type" name="type">
                                    <option value="Internet">Internet</option>
                                    <option value="Radio">Radio</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="pricing">Precio</label>
                                <input type="text" name="pricing" class="form-control" id="pricing" value="<%= service.pricing %>" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="invoice_date">Fecha de Facturación</label>
                                <input type="hidden" id="fecha" value="<%= service.invoice_date%>">
                                <input type="date" name="invoice_date" class="form-control" id="invoice_date" required>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="form-group text-right">
                    <button type="submit" class="ui primary button">Eliminar Registro</button>
                    <a href="/dashboard/service" class="ui red button">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<% }) %> 

<%- include('../layouts/dashboard_footer') %>
