<%- include('../layouts/dashboard_header') %>
<script src="/js/utilidades.js"></script>
<script>
    $(document).ready(function () {

        tipoServicio();
        console.log($("#fecha").val());
        
        var conver = convert($("#fecha").val());
        console.log(conver);
        $("#invoice_date").val(conver);

    });

    function tipoServicio() {
        var tipo = $("#tipo").val();
        console.log(tipo);
        var html = "";
        if (tipo == "Internet") {
            html += '<option value="Internet">Internet</option>';
            html += '<option value="Radio">Radio</option>';
        } else {
            html += '<option value="Radio">Radio</option>';
            html += '<option value="Internet">Internet</option>';
        }
        $("#type").html(html);
    }

    
</script>

<% service.forEach(function (service, i){ %>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="title-section mb-4">Modificar Plan</h3>
            <%- locals.flash %>
            <form method="POST" action="/api/service/update/<%= service._id %>">
                <div class="card-form">
                    <div class="card-form-header">Datos del Plan</div>
                    <div class="form-row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="product">Código del Producto</label>
                                <input type="text" name="product" class="form-control" id="product"
                                    value="<%= service.product%>" readonly>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Nombre del Plan</label>
                                <input type="text" name="name" class="form-control" id="name"
                                    value="<%= service.name %>" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="description">Descripción del Plan</label>
                                <textarea class="form-control" name="description" id="description"
                                    required><%= service.description%></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="type">Tipo de Servicio</label>
                                <input type="hidden" value="<%= service.type%>" id="tipo">
                                <select class="form-control" id="type" name="type">

                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="pricing">Precio</label>
                                <input type="text" name="pricing" class="form-control" id="pricing"
                                    value="<%= service.pricing %>" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="invoice_date">Fecha de Facturación</label>
                                <input type="hidden" id="fecha" value="<%= service.invoice_date%>">
                                <input type="date" name="invoice_date" class="form-control" id="invoice_date" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="ui primary button">Modificar Registro</button>
                    <a href="/dashboard/service" class="ui red button">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<% }) %>

<%- include('../layouts/dashboard_footer') %>