<%- include('../layouts/dashboard_header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="title-section mb-4">Nuevo Plan</h3>
            <%- locals.flash %>
            <form method="POST" action="/api/service/create">
                <div class="card-form">
                    <div class="card-form-header">Datos del Plan</div>
                    <div class="form-row"> 
                        <div class="col-4">
                            <div class="form-group">
                                <label for="product">Código del Producto</label>
                                <input type="text" name="product" class="form-control" id="product" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Nombre del Plan</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="description">Descripción del Plan</label>
                                <textarea class="form-control" name="description" id="description" required></textarea>
                            </div>
                        </div>
                    </div>                    
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="type">Tipo de Servicio</label>
                                <select class="form-control" id="type" name="type">
                                    <option value="Internet">Internet</option>
                                    <option value="Radio">Radio</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="pricing">Precio</label>
                                <input type="text" name="pricing" class="form-control" id="pricing" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="invoice_date">Fecha de Facturación</label>
                                <input type="date" name="invoice_date" class="form-control" id="invoice_date" required>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="form-group text-right">
                    <button type="submit" class="ui primary button">Guardar Registro</button>
                    <a href="/dashboard/service" class="ui red button">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../layouts/dashboard_footer') %>