/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/*@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/lato/Lato-Regular.ttf'); 
}

@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/lato/Lato-Bold.ttf'); 
}*/

/*//////////////////////////////////////////////////////////////////
[ GLOBAL STYLES ]*/
html{
    position: relative;
    height: 100%;
}
html, body{
    background-color:white;
}
/*body{
    font-family: Lato-Regular;
}*/
.truncate{
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.input i.fas{
    cursor: default;
    position: absolute;
    line-height: 1;
    text-align: center;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
    opacity: .5;
    border-radius: 0 .28571429rem .28571429rem 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.input i.fa-search:before{
    position: relative;
    top: 12px;
}
.ui.table thead th{
    font-weight: 500;
}

#menu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 25px;
    border-right: 1px solid #e6e6e6;
}
.ui.vertical.menu{
    margin-right: 0;
    margin-left: 10px;
    width: 100%;
    font-size: 90%;
}
.logo{    
    padding: 0 25px;
    margin-bottom: 40px;
}
.logo img{
    width: 100%;
}

.user-box{
    position: relative;
    background-color: #f1f1f1;
    color: rgb(92, 92, 92);
    padding: 16px 12px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.user-box .user{
    display: block;
    margin-left: 55px;
}
.user-box .user span{
    display: block;
    line-height: 1.3;
}
.user-box .role{
    font-size: 12px;
    text-transform: uppercase;
}
.user-box .avatar{
    position: absolute;
    top: 13px;
    left: 15px;
}
.user-box .avatar img{
    width: 40px;
}
#menu .item{
    color: #757373;
}
#menu .item i{
    margin-right: 15px;
}

#content{
    padding: 30px;
    margin-left: 250px;
}

.title-section{
    color: #6f6f6f;
    font-weight: 600;
    font-size: 28px;
}
.form-group{
    position: relative;
}
.form-group label{
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 14px;
    margin: 0;
    opacity: 0.5;
}
.form-group .form-control{
    padding: 30px 10px 11px;
    height: auto;
    box-shadow: none;
}
.form-group .form-control[type="text"],
.form-group .form-control[type="date"]{
    padding: 30px 13px 11px;
}
.form-group .button{
    font-size: 16px;
    padding: 15px 35px;
}
.card-form{
    background-color: transparent;
    border: 1px solid #D4D8DF;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;    
}
.card-form .card-form-header{
    background-color: transparent;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #adadad;
    font-weight: 700;
    border-bottom: 1px solid #EFF0F4;
}

.hostpod-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    text-align: center;
    border-width: 1px 1px 3px 3px;
}
.hostpod-box span{
    display: block;
}
.hostpod-box .number_hostpod{
    font-size: 21px;
    font-weight: 500;
}

.issuance-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    text-align: center;
    border-width: 1px 1px 3px 3px;
}
.issuance-box span{
    display: block;
}
.issuance-box .name{
    font-size: 21px;
    font-weight: 500;
}
.issuance-box .cutting-day{
    color: #8a8585;
}
.empty{
    font-size: 16px;
    color: #737272;
    padding: 10px 0;
}
span.tag{
    text-transform: uppercase;
    font-size: 12px;
    background: #cecece;
    padding: 3px 6px;
    border-radius: 5px;
    display: inline-block;
}
span.tag.active{
    background: #50d06b;
    color: #fff;
}
span.tag.inactive{
    background: #fd4040;
    color: #fff;
}

.ui.padded.table td, .ui.padded.table th{
    vertical-align: middle;
}