<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/fontawesome.css">
  <link rel="stylesheet" href="/css/semantic.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

  <script language="javascript" type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
  <script type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script language="javascript" type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>

    <script src="js/push.min.js"></script>
  <!-- <script type="text/javascript" src="web-notification.js"></script> -->

  <title>Copalingo</title>
  <link rel="icon" type="image/png" href="/img/icon-nodo.png" />

  <style>
    .login-box {
      width: 400px;
      height: 450px;
      background: #000;
      color: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
    }

    .login-box .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
    }

    .login-box h1 {
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
    }

    .login-box label {
      margin: 0;
      padding: 0;
      font-weight: bold;
      display: block;
    }

    .login-box input {
      width: 100%;
      margin-bottom: 20px;
    }

    .login-box input[type="text"],
    .login-box input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
    }

    .login-box input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #b80f22;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
    }

    .login-box input[type="submit"]:hover {
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }

    .login-box a {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: darkgrey;
    }

    .login-box a:hover {
      color: #fff;
    }
  </style>

  <script>
    $(function () {
      $.validator.addMethod("soloLetras", function (value, element) {
        return this.optional(element) || /^[a-z\s]+$/i.test(value);
      }, "Ingrese solo letras");

      $.validator.addMethod('IP4Checker', function (value) {
        var split = value.split('.');
        if (split.length != 4)
          return false;

        for (var i = 0; i < split.length; i++) {
          var s = split[i];
          if (s.length == 0 || isNaN(s) || s < 0 || s > 255)
            return false;
        }
        return true;
      }, 'Direccion IP Invalida');

      $.validator.addMethod("cedula", function (value, element) {
        return this.optional(element) || validarCedula(value);
      }, "Cedula o RUC no valido");
      $("#formulario").validate({
        rules: {
          dni: {
            cedula: true
          },
          business_name: {
            soloLetras: true
          },
          trade_name: {
            soloLetras: true
          },
          profession: {
            soloLetras: true
          },
          phone: {
            digits: true
          },
          email: {
            email: true
          },
          country: {
            soloLetras: true
          },
          city: {
            soloLetras: true
          },
          parish: {
            soloLetras: true
          },
          number: {
            digits: true
          },
          ip_service: {
            IP4Checker: true
          }

        },
        errorElement: "div",
        submitHandler: function (form) {
          form.submit();
        }
      });
    });
  </script>

</head>

<body>

  <% if((typeof sesion != 'undefined' && !sesion)) { %>

  <div class="menu">
    <div class="login-box">
      <img src="../img/avatar.png" class="avatar" alt="Avatar Image">
      <h1>Bienvenido a <b>COPALINGO</b></h1>
      <form method="POST" action="/dashboard/auth">
        <!-- USERNAME INPUT -->
        <label for="username">Correo:</label>
        <input placeholder="su-correo@dominio" id="email" name="email" type="text">
        <!-- PASSWORD INPUT -->
        <label for="pass">Contraseña:</label>
        <input type="password" placeholder="***************" id="password" name="pass">
        <input type="submit" value="Iniciar Sesion">
        <div class="col-12 text-center">
          ¿No tienes una cuenta? <a href="/dashboard/register" class="button">
            Regístrate Aquí <i class="fas fa-sign-in-alt"></i></a>
          <br><br>
        </div>
      </form>
      <%- locals.flash %>
    </div>
  </div>

  <% } else { %>

  <div id="menu">
    <div class="menu-wrap">
      <div class="logo">
        <img src="/img/logo.png" alt="Copalingo">
      </div>
      <div class="user-box">
        <span class="avatar">
          <img src="/img/avatar.png" alt="Avatar">
        </span>
        <span class="user">
          <span class="name"><%= name %></span>
          <span class="name"><%= last %></span>
          <span class="role">Administrador</span>
        </span>
      </div>
      <div class="ui secondary vertical menu">
        <a href="/dashboard" class="item"><i class="fas fa-archive"></i>Contratos</a>
        <a href="/dashboard/issuance" class="item"><i class="fas fa-users"></i>Puntos de Emisión</a>
        <a href="/dashboard/service" class="item"><i class="fas fa-box-open"></i>Planes</a>
        <a href="/dashboard/partner" class="item"><i class="fas fa-cut"></i>Lista de Cortes</a>
        <a href="/dashboard/payment" class="item"><i class="fas fa-coins"></i>Pagos Pendientes</a>
        <a href="/dashboard/binnacle" class="item"><i class="fas fa-book"></i>Bitácora</a>
        <a href="/dashboard/hotspot" class="item"><i class="fas fa-wifi"></i>Lista de Hotspots</a>

        <a href="/dashboard/convert" class="item  mb-5"><i class="fas fa-exchange-alt"></i>Subir Datos</a>

        <a class="item"><i class="fas fa-cog"></i>Configuración</a>
        <a href="/dashboard/cerrarSesion" onclick="return confirm('¿Esta seguro de cerrar sesion?')" class="item"><i
            class="fas fa-power-off"></i>Cerrar Sesión</a>
      </div>
    </div>
  </div>
  <main>
    <div id="content">
      <!-- Da content -->


      <% } %>